# simple find
function f() {
  DIR=$2
  if [ -z "$DIR" ]; then
    DIR="."
  fi

  find $DIR -name "*$1*"
}

# git pull origin current
function gf() {
  git fetch --all --prune
}

function gp() {
  current_branch=`git rev-parse --abbrev-ref HEAD`
  git pull origin $current_branch
}
