[include]
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = less
[color]
	ui = auto
[alias]
	ch = checkout
	br = branch
	st = status
	ci = commit
	che = cherry-pick
	delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
[push]
	default = current
[fetch]
        prune = false
