[include]
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	pager = less
[color]
	ui = auto
[alias]
	ch = checkout
	br = branch
	st = status
	ci = commit
	che = cherry-pick
[push]
	default = current
